@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
    int count = 1;
}

<h1>Products</h1>

<a class="btn btn-success" asp-controller="Product" asp-action="UpsertProduct">Add New Product</a>
@* <div class="bg-success text-white">

</div> *@
<br />

<table class="table w-50 text-center">
    <thead>
        <tr>
            <td>
                S.no
            </td>
            <td colspan="2">Product</td>
            <td>Price</td>
            <td>Description</td>
            <td>Stock</td>
            <td>Category</td>
            <td>Action</td>
        </tr>
    <tbody>
            @foreach (var obj in Model)
            {
            <tr>
                <td>@(count++)</td>
                <td>@obj.ImageUrl</td>
                <td>@obj.Name</td>
                <td>@obj.Price</td>
                <td>@obj.Description</td>
                <td>@obj.Stock</td>
                <td>@obj.Category.CategoryName</td>
                                <td>
                    <div class="btn-group">
                        <a asp-controller="Product" asp-action="UpsertProduct" asp-route-id=@obj.Id class="btn btn-warning">Update</a>
                        <form asp-action="DeleteCategory" method="post" asp-route-id="@obj.CategoryID">
                            <button class="btn btn-primary" onclick="return confirm('Are you sure ?')">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            }
    </tbody>
    </thead>
</table>


