@model ShoppingCartViewModel
@{
    int count = 1;
}
<div class="p-5">
    <h1>Cart Items</h1>
    @*     @if(@Model.shoppingCarts.Count == null){
    <div class='p-5 text-danger'>No items in Cart.</div>
    }
    else{ *@
    <table class="table text-center table-striped table-hover w-75 mx-auto align-middle">
        <thead class="table-dark">
            <tr>
                <td>S.NO.</td>
                <td colspan="2">Product</td>
                <td>Unit Price</td>
                <td>Quantity</td>
                <td>Total</td>
                <td>Action</td>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in @Model.shoppingCarts)
            {
                <tr>
                    <td>@(count++)</td>
                    <td>
                        <img src=@item.Product.ImageUrl style="height:120px" />
                    </td>
                    <td>
                        <h5>@item.Product.Name</h5>
                    </td>
                    <td>
                        <h5>@item.Product.Price</h5>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <form asp-action="Decrease" asp-route-productID=@item.productID method="post">
                                <button class="btn btn-warning">-</button>
                            </form>
                            <h5 class='py-1 px-3'>@item.Quantity</h5>
                            <form asp-action="Increase" asp-route-productID=@item.productID method="post">
                                <button class="btn btn-success">+</button>
                            </form>
                        </div>


                    </td>
                    <td>
                        <h5>@(@item.Quantity * @item.Product.Price)</h5>
                    </td>
                    <td>
                        <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*  }  *@
</div>

